<h1>Command Line Menu</h1>
     
  <ol>
    <a href='/ls'><li>ls</li></a>
    <a href='/pwd'><li>pwd</li></a>
    <a href='/cd'><li>cd</li></a>
    <a href='/mkdir'><li>mkdir</li></a>
    <a href='/'><li>Main Menu</li></a>
  </ol>  