<h1>Main Menu</h1>

<ol class='options'>
  <a href='/commands'><li>Command Line</li></a>
  <a href='/search'><li>Search</li></a>
  <a href='https://www.google.com/' target="_blank"><li>Google</li></a>
</ol>