<h1>Search</h1>

<form method="POST" action="/search">
  <input type="text" placeholder="Search" name="search" required />
  <input type="submit" / >
</form>

<% if @input == 'ls' %>
  <a href='/ls'></a>
<% end %>